<template>
	<div class="card topMargin">
		<div class="card-body">
			<span><i click.trigger="back2()" class="fa fa-arrow-left fa-lg" aria-hidden="true"></i></span>
		</div>
	</div>	
	<form>
		<div class="form-group topMargin">
			  <label for="photoInput">Your Photo Name *</label>
			  <input value.bind="photoObj2.photoName" type="text" class="form-control" id="photoNameInput" aria-describedby="photoHelp" 
				placeholder="Enter photo name">
			  <small id="photoHelp" class="form-text text-muted">
				A name for the photo.</small>
		</div>
        <div class="form-group">
            <label for="descriptionInput">Description</label>
            <textarea value.bind="photoObj2.photoDes" type="text" class="form-control" 
			id="photoDesInput" aria-describedby="photoDescriptionHelp" 
			placeholder="Enter Description for Photo"></textarea>
            <small id="photodescriptionHelp" class="form-text text-muted">
			You can write about your photo here.</small>
        </div>

<br>
 <button click.trigger="saveEditedPhoto()" class="btn btn-primary topMargin">Save</button>
</br>
        </form>
    </template>
    