<template> 
		<center><div class="container">
				<div class="card topMargin" style ="width: 800px" >
	                    <div class="row">
                        <span class="col">
							<span class="rightMargin  pull-right"><button type="button" class="btn btn-primary btn-md"  click.trigger="createGallery()">Create a Gallery</button>
								<button type="button" class="btn btn-primary btn-md"  click.trigger="logout()">Logout</button>
							</span>
	               </span>
	</div>
</div>
</div>
</center>
      <center>
		<div class="container">
        <div show.bind="gallery.galleryArray.length"></div>		
				<div class="table-responsive">
						<table class="table">
				<thead>
					<tr>
						<th>Gallery</th>
						 <th>Description</th>
						<th>Date Created</th>					
					</tr>
				</thead>
				<tbody>
					<tr class repeat.for = "gallery of gallery.galleryArray">
					<th><button click.trigger="addPhotos()" class="btn btn-primary">${gallery.gallery}</button></th>
					<td>${gallery.description}</td> 
					<td>${gallery.dateCreated}</td>
			<td><a href="http://localhost:5000/uploads/${user._id}/${todo.file.filename}" target="_blank">${todo.file.originalName}</a></td>					
					        <td>
			<i click.trigger="editGallery(gallery)" class="fa fa-pencil rightMargin" aria-hidden="true"></i>
			<i click.trigger="deleteGallery(gallery)"class="fa fa-trash rightMargin" aria-hidden="true"></i>
			
							        </td>												
					</tr>
				</tbody>
			</table>
		</div>
		</div>
	</div>
	</center>

	<div show.bind="!gallery.galleryArray.length">
		<h2>You don't have any photo collections!</h2>
	</div>

       
	
        </template>
        