<template>
    <div class="container">
                   <h3> ${gallery.gallery}'s Photo Collection!</h3> 
                    </div>
                    <div class="card topMargin">
                        <div class="card-body">
                            <span><i click.trigger="back()" class="fa fa-arrow-left fa-lg" aria-hidden="true"></i></span>
                            <span class ="pull-right"><b>Edit your photo to add name and description!</b></span>
                        </div>
                    </div>	
                    <center>
                    <div class="row">
                        <div class="col">
                                <label class="btn btn-secondary">
                                                Upload Photos&hellip; <input type="file" 
                                                style="display: none;" 
                                                change.delegate="changeFiles()" files.bind="files">
                                </label>
                               <br> 
                                <button type="button" class="btn btn-primary btn-md" click.trigger="savePhoto()" class="btn btn-primary topMargin">Save Photos</button>
                            </br>
                                <small id="fileHelp" class="form-text text-muted">
                                                Upload your memories! :D</small>
                        </div>	
                    </center>
                    <div class="container">
                        <div show.bind="gallery.galleryArray.length"></div>		
                                <div class="table-responsive">
                                        <table class="table">
                                <thead>
                                    <tr>
                                        <th>Picture</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                         <th>FileName</th>
                                        <th>Date Uploaded</th>
                                        <th>Edit | Delete</th>				
                                    </tr>
                                </thead>
                                <tbody>
                    <div class="container">
                        <div show.bind="photo.photoArray.length">		
                             
                            <tr class repeat.for = "photo of photo.photoArray">
                                       
                                 <th><a href = "http://localhost:5000/uploads/${photo.galleryId}/${photo.file.filename}" target ="_blank"><img src ="http://localhost:5000/uploads/${photo.galleryId}/${photo.file.filename}" style="width:100px; height: 100px;"></a></th>
                                 <td>${photo.photoName}</td>
                                 <td>${photo.photoDes}</td> 
                                 <td>${photo.file.originalName}</td>
                                <td> ${photo.dateUploaded | dateFormat}</td> 
                                    
                                  <td>      
                            <i click.trigger="editPhoto(photo)" class="fa fa-pencil rightMargin" aria-hidden="true"></i> |
                            <i click.trigger="deletePhoto(photo)"class="fa fa-trash rightMargin" aria-hidden="true"></i>
                            
                                                    </td>										
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                    </center>
                    <form>
                    
                        <div class="col-8">
                                <ul>
                                        <li repeat.for="file of filesToUpload" class="list-group-item">
                                                ${file.name}<span click.delegate="removeFile($index)" 
                                                class="pull-right"><i class="fa fa-trash" aria-hidden="true">
                                                </i></span></li>
                                </ul>
                        
                        </div>
                </div>
                        </form>
                    <div show.bind="!photo.photoArray.length">
                        <h2>Apparently, you don't have any photos in this gallery!</h2>
                    </div>
                
                       
                    
                        </template>